/*---------- logo ----------*/
.logo {
  @include main-font2();
  font-size: 20px;
  color: $logo-color;

  img { display: block }
}

@media (min-width: $phone-landscape) {
  .logo {

  }
}

@media (min-width: $tablet-portrait) {
  .logo {

  }
}

@media (min-width: $tablet-landscape) {
  .logo {

  }
}

@media (min-width: $desktop) {
  .logo {
    font-size: 30px;
  }
}
/*---------- /logo ---------*/

