//fonts
@mixin main-font1() {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

@mixin main-font2() {
  font-family: 'Raleway-Bold', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin main-font3() {
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin main-font4() {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin justify() {
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }
}

//centering
@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}
@mixin absoluteCenterX() {
  position: absolute;
  left: 50%;
  transform: translateX( -50% );
}
@mixin absoluteCenterY() {
  position: absolute;
  top: 50%;
  transform: translateY( -50% );
}

//transition
@mixin transition( $property, $duration, $delay ) {
  -webkit-transition: $property $duration+s linear $delay+s;
  transition: $property $duration+s linear $delay+s;
}
@mixin transition-opacity-visibility( $duration, $function ) {
  -webkit-transition: opacity $duration+s $function, visibility $duration+s $function;
  transition: opacity $duration+s $function, visibility $duration+s $function;
}
@mixin transition-opacity-transform( $duration, $function ) {
  -webkit-transition: opacity $duration+s $function, transform $duration+s $function;
  transition: opacity $duration+s $function, transform $duration+s $function;
}