/*---------- reviews ----------*/
.reviews {
  padding: 50px 20px;
  text-align: center;

  &__title,
  h2 {
    display: block;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 42px;
    font-size: 28px;
    text-transform: uppercase;
    color: #1ab798;
    @include main-font2();

    &:before {
      @include absoluteCenterX();
      bottom: 0;
      width: 160px;
      height: 2px;
      background: #343c3f;
      content: '';
    }

    &:after {
      position: absolute;
      left: 50%;
      bottom: -3px;
      width: 6px;
      height: 4px;
      margin-left: -3px;
      border-color: #343c3f;
      border-style: solid;
      border-width: 2px 0;
      background: #fff;
      transform: rotate(0deg) matrix(1, -1, 0, 1, 0, 0);
      content: '';
    }
  }


  &__slider {
    min-height: 200px;
  }

  &__head {
    margin-bottom: 30px;
    text-align: center;
  }

  &__ava {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(196, 199, 199);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }

  &__name {
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
    color: #062033;
    font-weight: 600;
  }

  &__profession {
    display: block;
    font-size: 12px;
    color: #646464;
  }

  &__text {
    display: block;
    position: relative;
    padding: 0 0 20px 20px;
    font-size: 14px;
    line-height: 20px;
    color: #282528;

    &:before {
      position: absolute;
      top: -15px;
      left: 0;
      @include main-font3();
      font-size: 60px;
      line-height: normal;
      color: #efefef;
      content: '“';
    }
  }
}

@media (min-width: $phone-landscape) {
  .reviews {

  }
}

@media (min-width: $tablet-portrait) {
  .reviews {

  }
}

@media (min-width: $tablet-landscape) {
  .reviews {

    &__head { margin-bottom: 102px }

    &__slider {
      max-width: 1030px;
      margin: 0 auto 12px;
      padding-top: 4px;
    }

    &__ava {
      width: 100px;
      height: 100px;
      margin-bottom: 24px;
    }

    &__name { font-size: 18px }

    &__profession { font-size: 13px }

    &__text {
      padding: 0 0 41px 50px;
      font-size: 18px;
      line-height: 36px;

      &:before {
        top: -39px;
        font-size: 150px;
      }
    }
  }
}

@media (min-width: $desktop) {
  .reviews {
    padding: 90px 0;
  }
}
/*---------- /reviews ---------*/

