/*---------- social ----------*/
.social {
  padding: 5px;
  cursor: default;

  &__item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 42px;
    height: 42px;
    background: $social-bg;
    transition: background .3s ease-in-out;

    &:hover { background: $social-bg-hover }

    svg {
      @include absoluteCenter();
      width: 50%;
      height: auto;
      fill: $social-svg-fill;
    }
  }

  &__item_facebook {
    background: $social-bg-facebook;
  }

  &__item_twitter {
    background: $social-bg-twitter;
  }

  &__item_google {
    background: $social-bg-google;
  }

  &.social_color {
    padding: 15px 0;

    .social__item {
      margin-right: 10px;
      border-radius: 50%;

      &:hover { background: $social-color-bg-hover }
    }
  }
}

@media (min-width: $phone-landscape) {
  .social {

  }
}

@media (min-width: $tablet-portrait) {
  .social {
    
  }
}

@media (min-width: $tablet-landscape) {
  .social {

    &.social_color { padding: 28px 0 }
  }
}

@media (min-width: $desktop) {
  .social {

  }
}
/*---------- /social ---------*/

