/*---------- watch ----------*/
.watch {
  padding: 50px 20px;
  font-size: 14px;
  color: $watch-color;
  background: $watch-bg;
  text-align: center;

  &__title,
  h2 {
    margin-bottom: 5px;
    font-size: 20px;
    color: $watch-title-color;
    text-transform: uppercase;
    @include main-font2();
  }

  p {
    margin-bottom: 10px;
    line-height: 20px;
  }

  &__video {
    position: relative;
    padding-bottom: 61.4%;
    margin: -5px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      border: 5px solid $watch-bg;
      border-radius: 10px;
      content: '';
      pointer-events: none;
      box-sizing: border-box;
    }

    &:after {
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      z-index: 2;
      border: 10px solid $watch-bg;
      content: '';
      pointer-events: none;
      box-sizing: border-box;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      border: none;
    }
  }
}

@media (min-width: $phone-landscape) {
  .watch {

  }
}

@media (min-width: $tablet-portrait) {
  .watch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 72px 20px;
    font-size: 16px;
    text-align: left;

    &__title,
    h2 {
      margin-bottom: 12px;
      font-size: 28px;
    }

    p { line-height: 26px }

    &__content { width: calc(50% - 15px) }

    &__video {
      width: calc(50% - 15px);
      padding-bottom: 30%;
    }
  }
}

@media (min-width: $tablet-landscape) {
  .watch {

  }
}

@media (min-width: $desktop) {
  .watch {
    padding: 72px calc(50% - 585px);

    &__video {
      width: 513px;
      height: 313px;
      padding-bottom: 0;
    }
  }
}
/*---------- /watch ---------*/

